@media (min-width:768px) and (max-width:1024px){

body{
    max-width: 768px;
    gap: 32px;
}
.central{
    max-width: 736px;
}
.top__menu{
    max-width: 1024px;
    justify-content: space-between;
    gap: 0;
}
.main__menu{
    margin: 0 32px;
}
.slogan_logo{
    max-height: 4em;
}
.slogan_text{
    font-size: 44px;
}
.slogan_text_2{
    font-size: 24px;
}
.slogan_text_2 span{
    font-size: 24px;
}
.catalog{
    gap: 24px;
}
.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.footer_features{
    flex-direction: column;
    padding: 48px;
}
}